{% extends 'base.html' %}

{% block title %}Delete blog Post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>Delete Post</h1>
    <br><br>
    <h3>Delete: {{ post.title }}</h3>

    <!-- <div class="col-md-4"> -->
    <div class="form-group">
    <form action="" method="post">
        {% csrf_token %}

        <strong>Are you sure?!</strong><br><br>
        <button class="btn btn-secondary">Delete Post!</button>

    </form>
    </div>
<!-- </div> -->
    {% else %}
    Login first then proced...
    {% endif %}
{% else %}
Login first then proced...

{% endif %}

{% endblock %}