{% extends 'base.html' %}

{% block title %}Create a new  Profile Page{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Create Profile Page</h1>
    <br><br>
    <!-- <div class="col-md-4"> -->
    <div class="form-group">
    <form action="" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
    <!-- Django form in order how we use in admin area p can be changed to ul or table etc -->
        {{ form.as_p }}

        <button class="btn btn-secondary">Create Profile Page</button>

    </form>
    </div>
    
{% else %}
    First Login then procedd...

{% endif %}
<!-- </div> -->
{% endblock %}